# DESPLIEGUE
JWT_SECRET_KEY=coloque_aqui_su_firma_secreta_jwt_de_despliegue
API_HOST=http://localhost:8000
OPENSEARCH_HOST=http://localhost:9200

# OPCIONAL (CONEXIÓN MOCK)
API_HOST_REAL=http://localhost:8000
OPENSEARCH_HOST_REAL=http://localhost:9200

API_HOST_MOCK=http://localhost:3000
OPENSEARCH_HOST_MOCK=http://localhost:3000
